.btn-mixin1(){
    min-width:2.333rem;
    text-align:center;
    font-size: 0.26rem;
    line-height:0.64rem;
    border-radius: 0.32rem;
    background: transparent;
    box-sizing: border-box;
    padding:0 0.24rem;
}
.btn-mixin2(){
    border:0;
    color:#fff;
}
.lm-primary {
    .btn-mixin1;
    .btn-mixin2;
    background: #3B4263;
}

.lm-enable{
    .btn-mixin1;
    .btn-mixin2;
    background: #3B4263;
}
.lm-disable{
    .btn-mixin1;
    .btn-mixin2;
    background: #e1e1e1;
}
.lm-enable-border{
    .btn-mixin1;
    border:
}