

/*botton start*/
@main-color:#F96854; /*好房经纪主色*/
@yellow:F3CA4D; /*黄色，高亮显示*/
@green:#73C48F;/*绿色*/
@black:#222222;/*黑色*/
@grey:#555555;/*灰色*/
@light-grey:#878787;/*灰色高亮*/
@dark-blue:#28304E;/*深蓝*/
@blue:#3B4263;/*蓝*/
@line-grey:#e1e1e1;/*浅灰*/
@background-grey:#f3f3f3;/*浅灰*/
@toast-black:rgba(0,0,0,0.7);/*toast背景色*/
@mask-black:rgba(0,0,0,0.4);/*蒙层*/
@sheet-background:rgba(255,255,255,0.8); /**/
@button-press:rgba(98,129,194,0.5);/*button按下去的颜色*/

@primary-color2:#6281C2;
@enable-color2:#6281C2;
@success-color2:#F96854;
@disable-color2:#e1e1e1;



.btn-mixin1(){
    min-width:1.1665rem;
    text-align:center;
    font-size: 0.14rem;
    line-height:0.32rem;
    height:0.32rem;
    border-radius: 0.16rem;
    background: transparent;
    box-sizing: border-box;
    padding:0 0.12rem;
}
.btn-mixin2(){
    border:0;
    color:#fff;
}

.btn-sm(){
    min-width:1.0665rem;
    text-align:center;
    font-size: 0.13rem;
    line-height:0.213333rem;
    height:0.213333rem;
    border-radius: 0.16rem;
    background: transparent;
    box-sizing: border-box;
    padding:0 0.12rem;
}

.background-color1(){
    background:@primary-color2;
}

.background-color2(){
    background:@enable-color2;
}

.background-color3(){
    background:@success-color2;
}
.background-color4(){
    background:@line-grey;
}




.btn-square(){
    min-width:1.1665rem;
    text-align:center;
    font-size: 0.12rem;
    line-height:0.32rem;
    background: transparent;
    box-sizing: border-box;
    padding:0 0.12rem;
}

/*botton end*/

.lm-btn-primary{
    .btn-mixin1;
    .btn-mixin2;
    background:@dark-blue;
}

.lm-btn-enable{
    .btn-mixin1;
    .btn-mixin2;
    background:@blue;
}
.lm-btn-disable{
    .btn-mixin1;
    .btn-mixin2;
    background: @line-grey;
}
.lm-btn-enable-border{
    .btn-mixin1;
    border:1px solid #6281C2;
    color:#6281C2;
}
.lm-btn-press-border{
    .btn-mixin1;
    border:1px solid #6281C2;
    color:#6281C2;
    background: rgba(97,129,194,0.50);
}


.color-1(){
    color:#fff;
}
.color-2(){
    color:@primary-color2;
}
.color-3(){
    color:@enable-color2;
}
.color-4(){
    color:@success-color2;
}


.lm-sm-btn-primary{
    .btn-sm;
    .color-1;
    .background-color1
}
.lm-sm-btn-enable{
    .btn-sm;
    .color-1;
    .background-color2
}
.lm-sm-btn-disable{
    .btn-sm;
    .color-1;
    .background-color4
}
.lm-sm-btn-success{
    .btn-sm;
    .color-1;
    .background-color3;
}
.lm-sm-btn-primary-success{
    .btn-sm;
    .color-1;
    .background-color3;
}
.lm-sm-btn-enable-success{
    .btn-sm;
    .color-1;
    .background-color3;
}
.lm-sm-btn-enable-border{
    .btn-sm;
    .color-2;
    border:1px solid @primary-color2;
}
.lm-sm-btn-press-border{
    .btn-sm;
    .color-3;
    border:1px solid @enable-color2;
    background: rgba(97,129,194,0.50);
}
.lm-sm-btn-enable-success-border{
    .btn-sm;
    color:#555;
    border:1px solid #878787;
}
.lm-sm-btn-press-success-border{
    .btn-sm;
    color:#555;
    border:1px solid @success-color2;
    background: #e1e1e1;
}

.lm-primary-square{
    .btn-square;
    .background-color2;
    .color-1;
}

.lm-enable-square{
    .btn-square;
    .background-color1;
    .color-1;
}
.lm-disable-square{
    .btn-square;
    .background-color4;
    .color-1;
}