@info:#73C48F;
@disable:#e1e1e1;
@success:#F96854;
@primary:#6281C2;
@default:#f3f3f3;

.tag(){
  display: inline-block;
  min-width: 0.15rem;
  width:auto;
  padding:0 0.06rem;
  line-height: 1.5;
  font-size: 0.06rem;
  border-bottom-right-radius:0.05rem;
  border-top-left-radius:0.05rem;
  box-sizing: border-box;
}


span.lm-tag-info {
  .tag;
  color:#fff;
  background: @info;
}

span.lm-tag-disable {
  .tag;
  color:#fff;
  background: @disable;
}
span.lm-tag-success {
  .tag;
  color:#fff;
  background: @success;
}
span.lm-tag-primary {
  .tag;
  color:#fff;
  background: @primary;
}
span.lm-tag-default {
  .tag;
  color:#fff;
  background: @default;
}



span.lm-tag-border{
  .tag;
  &.info{
    border:1px solid @info;
    color:@info;
  }
  &.disable{
    border:1px solid @disable;
    color:@disable;
  }
  &.success{
    border:1px solid @success;
    color:@success;
  }
  &.primary{
    border:1px solid @primary;
    color:@primary;
  }
  &.default{
    border:1px solid @default;
    color:@default;
  }
}
span.lm-tag-border-info{
  .tag;
  border:1px solid @info;
  color:@info;
}
span.lm-tag-border-disable{
  .tag;
  border:1px solid @disable;
  color:@disable;
}
span.lm-tag-border-primary{
  .tag;
  border:1px solid @primary;
  color:@primary;
}
span.lm-tag-border-default{
  .tag;
  border:1px solid @default;
  color:@default;
}
span.lm-tag-border-success{
  .tag;
  border:1px solid @success;
  color:@success;
}

span.lm-big-tag-info{
  .tag;
  font-size:0.14rem;
  color:#fff;
  background: @info;
}
span.lm-big-tag-disable{
  .tag;
  font-size:0.14rem;
  color:#fff;
  background: @disable;
}
span.lm-big-tag-success{
  .tag;
  font-size:0.14rem;
  color:#fff;
  background: @success;
}
span.lm-big-tag-primary{
  .tag;
  font-size:0.14rem;
  color:#fff;
  background: @primary;
}span.lm-big-tag-default{
   .tag;
   font-size:0.14rem;
   color:#fff;
   background: @default;
 }



span.lm-sm-tag {
  .tag;
  font-size:0.1rem;
  min-width: .1rem;
  line-height: 1.2;
  padding:0 0.04rem;
  color:#fff;
  border-bottom-right-radius:0.03rem;
  border-top-left-radius:0.03rem;
  &.info{
    background: @info;
  }
  &.disable{
    background: @disable;
  }
  &.success{
    background: @success;
  }
  &.primary{
    background: @primary;
  }
  &.default{
    background: @default;
  }
}
.sm(){
  font-size:0.1rem;
  min-width:0.1rem;
  line-height: 1.2;
  padding:0 0.04rem;
  color:#fff;
  border-bottom-right-radius:0.03rem;
  border-top-left-radius:0.03rem;
}
span.lm-sm-tag-info {
  .tag;
  .sm;
  background: @info;
}

span.lm-sm-tag-disable {
  .tag;
  .sm;
  background: @disable;
}
span.lm-sm-tag-success {
  .tag;
  .sm;
  background: @success;
}
span.lm-sm-tag-primary {
  .tag;
  .sm;
  background: @primary;
}
span.lm-sm-tag-default{
  .tag;
  .sm;
  background: @default;
}

